body {
 background-color: cadetblue;
}
.parrent {
display: grid;
gap: 1em;
/* align-items: center; */
justify-content: center; 
  grid-template-rows: repeat( 3, 5fr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
